{% extends 'contas/base.html' %}

{% block title %}
Nova Transacoa Addicione Aqui
{% endblock %}

{% block content %}

<form method="post" action='#' id="form">
    {% csrf_token %}
    {{form.as_p}}

    <button class='btn btn-primary' type="submit">Salvar </button>
</form>
<style>
    .form-control{
        color:blue;
    }
</style>


<!-- Aplicando bootstrap css na django form -->
<script>
    var form =document.getElementById('form')
    for (var e in form.elements){
        // form[e.setAttribute('class','form-control')
        console.log(e)
        var el=document.getElementById(form[e].id)
        console.log(el)
        if(el!=null){
            el.setAttribute('class','form-control')
        }
        var val =document.getElementById('id_valor')
        val.setAttribute('class','form-control col-sm-3')
    }
</script>
 
{% endblock %}

 