{% extends 'contas/base.html' %}



{% block content %}

<h1>Listagem de Transacoes</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th>Mount</th>
            <th>Category</th>
            <th>Date</th>
            <th>observacoes</th>
        </tr>
    </thead>

    <tbody>
        
            {% for trans in transations %}
            <tr>
            <td>{{ trans.descricao}}</td>
            <td>{{trans.valor}}</td>
            <td>{{trans.categoria}}</td>
            <td>{{trans.data}}</td>
            <td>{{trans.observacoes}}</td>
            </tr>
            {% endfor %}
        
    </tbody>
</table>

{% endblock %}
 


 