{% extends 'contas/base.html' %}

{%block header %}

<div class='col-ms-4'>
    <a href={% url 'url_add_new_trans' %}>Adicionar</a>
</div>
{% endblock %}
{% block content %}

<h1>Listagem de Transacoes</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th>Mount</th>
            <th>Category</th>
            <th>Date</th>
            <th>observacoes</th>
        </tr>
    </thead>

    <tbody>
        
            {% for trans in transations %}
            <tr>
            <td>{{ trans.descricao}}</td>
            <td>{{trans.valor}}</td>
            <td>{{trans.categoria}}</td>
            <td>{{trans.data}}</td>
            <td>
                <p>{{trans.observacoes}}</p>
                <div class='col col-md'>
                    <a class='btn btn-primary' href={% url 'url_update_trans' trans.id %}>Edit</a>
                    <a class='btn btn-danger' href={% url 'url_delete_trans' trans.id%}>Delete</a>
                </div>
                

            </td>
            </tr>
            {% endfor %}
        
    </tbody>
</table>

<style>
    .col-md{
        /* background:#bfd1e6; */
        display:flex;
        flex-direction:row;
        justify-content: flex-end;/*flex-start|flext-start|center-aroud|space-evenly|space-between;/*/

    }
</style>

{% endblock %}


 


 